/* Reset */
* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Variables */

:root {
    --main-color: #819dd0;
    --main-text-color: #FFF;
    --border-color: #999;
    --bio-bg-color: #0a0b0d;
    --bio-border-color: #999;
    --about-bg-color: #020c1f;
}

/* General */
.highlight {
    color: var(--main-color);
}

/* Containers */
#container {
    display: flex;
    flex-direction: row;
    color: var(--main-text-color);
}

#bio-container {
    flex: 1 1 20%;
    min-height: 100vh;
    background-color: var(--bio-bg-color);
    text-align: center;
    padding: 30px 12px;
    border-right: 5px solid var(--bio-border-color);
}

#about-container {
    flex: 1 1 80%;
    min-height: 100%;
    background-color: var(--about-bg-color);
    padding: 50px;
}

/* Bio container */
#bio-container h2 {
    margin-bottom: 25px;
}

#bio-container p {
    margin-bottom: 20px;
}

#bio-container #welcome-text {
    font-weight: bold;
}

#photo {
    position: relative;
    display: inline-block;
}

#bio-image {
    width: 175px;
    height: 175px;
    border-radius: 50%;
    margin: 35px 0px;
}

#animated-arc {
    position: absolute;
    top: 42.5%;
    left: 50%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid transparent; /* Tornar a borda transparente */
    box-shadow: 
        0 0 0 15px var(--about-bg-color), /* Fundo do buraco */
        0 0 0 20px var(--main-color); /* Cor do arco */
    transform: translate(-50%, -50%);
    animation: spin 5s linear infinite;
}

@keyframes spin {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

#social-container {
    display: flex;
    justify-content: center;
    list-style: none;
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 25px;
    padding-bottom: 25px;
}

#social-container li {
    flex: 1 1 0;
    max-width: 60px;
}

#social-container li a {
    color: var(--main-color);
    font-size: 30px;
}

#email-container {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--border-color);
}

#email-container ion-icon,
#email-container a {
    flex: 1 1 0;
}

#email-container a {
    color: var(--main-text-color);
    text-decoration: none;
    max-width: 225px;
}

#email-container ion-icon {
    color: var(--main-color);
    font-size: 20px;
    margin-right: 5px;
    max-width: 20px;
}

#social-container li a:hover,
#email-container a:hover {
    opacity: .6;
}

/* About container */
#name {
    font-size: 42px;
    margin-bottom: 15px;
}

#title {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: bold;
}

.description {
    max-width: 95%;
    margin-bottom: 10px;
    text-align: justify;
}

#tabs-navbar {
    width: 100%;
    padding: 10px;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    margin-top: 20px;
}

#tabs-navbar ul {
    display: flex;
}

#tabs-navbar ul li {
    padding: 10px 20px;
    margin-right: 10px;
    list-style-type: none;
    border-radius: 10px;
    border: 3px solid var(--border-color);
    transition: .5;
    font-weight: bold;
}

#tabs-navbar ul li:hover {
    cursor: pointer;
    background-color: var(--main-color);
    color: var(--about-bg-color);
}

.selected {
    background-color: var(--main-color);
    color: var(--about-bg-color);
}

#section-title {
    padding-top: 20px;
    margin-bottom: 20px;
    font-size: 32px;
}

#skills-container {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.skills-title {
    font-size: 24px;
    margin-bottom: 25px;
    font-weight: bold;
    padding-left: 10px;
    border-left: 5px solid var(--main-color);
}

.skills-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.skills-box i {
    font-size: 45px;
    padding: 10px;
}

.skills-box i:hover {
    opacity: .6;
    cursor: pointer;
}

#skill-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    display: none;
    text-align: center;
    margin-top: 15px;
}

#skill-info #skills-info-title {
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 10px;
}

#skill-info i {
    padding: 20px 20px;
    font-size: 100px;
}

#skill-info #skills-description {
    padding: 15px 10px 0px 10px;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}

#projects-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 80%;
    margin-top: 30px;
}

.project {
    text-decoration: none;
    color: var(--main-text-color);
    font-weight: bold;
    margin-bottom: 10px;
}

.project p {
    padding-top: 10px;
    text-align: center;
}

.project-card {
    width: 400px;
    height: 250px;
    padding: 90px;
    margin-top: 20px;
    border-radius: 10px;
    border: 3px solid var(--bio-border-color);
    text-align: center;
    font-size: 15px;
    background-size: cover;
    background-position: center;
}

.project-card:hover {
    opacity: 0.8;
}

#thoughts {
    background-image: url('../img/projects/thoughts.PNG');
}

#get-a-pet {
    background-image: url('../img/projects/get-a-pet.PNG');
}

#wpp-web-clone {
    background-image: url('../img/projects/wpp-web-clone.PNG');
}

/* Mobile */
@media(max-width: 450px) {
    #container {
        flex-direction: column;
    }

    #bio-container {
        min-height: auto;
        border-right: none;
        border-bottom: 5px solid var(--bio-border-color);
    }

    #bio-container h2 {
        display: none;
    }

    #bio-container p {
        max-width: 60%;
        margin: 10px auto;
    }

    #about-container {
        text-align: center;
        padding: 30px;
    }

    #about-container .description {
        margin: 10px auto;
        max-width: 100%;
        line-height: 26px;
    }

    .skills-box {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 100%;
        margin-bottom: 40px;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .skills-box i {
        font-size: 50px;
    }

    #skill-info {
        display: none
    }

    .disable-click {
        pointer-events: none;
    }

    #tabs-navbar ul {
        display: flex;
        justify-content: space-between;
    }

    #projects-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 80%;
        margin: 30px auto;
    }
    
    .project-card {
        width: 300px;
        height: 125px;
    }
}